#faq-container{
    width: 100%;
}
#faq-main{
    width: 90%;
    margin: auto;
}
#faq-div{
    width: 100%;
    text-align: center;
   
}

#faq-header-txt{
    font-weight: 700;
    font-size: clamp(2.95rem, 3rem, 3.1rem);
    color: #050a30;
}

#faq-main-div{
    position: relative;
}

#faq-section-header{
    position: absolute;
    font-weight: 700;
    font-size: clamp(1.10rem, 1.50rem, 1.75rem);
    color: #050a30;
    display: block;
    top: -40px;
    left: 10%;
    transform: translateX(-10%);
}
#faq-questions-div{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#sep-question-div{
    width: 90%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow:  0px 0px 10px 0px #0000005d;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#question-div-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#answer-div{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    max-height: 0px;
    animation: slideDown 0.8s cubic-bezier(0.5, 0, 0.5, 1) forwards;

}

#read-more-btn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
}
#read-more-btn button{
    align-self: flex-start;
    background-color: transparent;
    border: unset;
    cursor: pointer;
    color: #050a30;
    font-weight: 700;
    font-size: clamp(1rem,1.10rem,1.20rem);
    padding: 20px 30px;
}

@keyframes slideDown {
    0%{
      
        max-height: 0px;
    }
    100%{
        max-height: 500px;
   
    }
    
}

#answer-div p{
    color: #383838;
    font-weight: 500;
    font-size: clamp(0.90rem,1rem,1.05rem);
}
#faq-question{
    width: 90%;
    color: #1c1c1c;
    font-weight: 600;
    font-size: clamp(1rem,1.15rem,1.30rem);
}
#mui-iconarrow-down{
    width: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    #answer-div{
        text-align: justify;
    }
    #faq-question{
        font-size: clamp(0.80rem, 0.90rem, 1.30rem);
    }
    #answer-div p{
        font-size: clamp(0.75rem,0.80rem,0.90rem);
        
    }
    #faq-main-div{
        margin: 40px 0 0 0;
    }
    #faq-header-txt {
      font-size: clamp(1rem, 1.95rem, 2rem);
      padding-bottom: 20px;
    }
    #faq-section-header{
        font-size: clamp(1.10rem, 1.20rem, 1.40rem);
    }
    #faq-questions-div{
        padding: unset;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #faq-header-txt {
      font-size: clamp(1.9rem, 2rem, 2.1rem);
    }
    #answer-div{
        text-align: justify;
    }
    #faq-question{
        font-size: clamp(0.95rem, 1rem, 1.10rem);
    }
    #answer-div p{
        font-size: clamp(0.80rem,0.90rem,0.95rem);
        
    }
    #faq-main-div{
        margin: 50px 0 0 0;
    }
    #faq-section-header{
        font-size: clamp(1.20rem, 1.40rem, 1.50rem);
        top: -50px;
    }
    #faq-questions-div{
        padding: unset;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #faq-questions-div{
        padding: 30px;
    }
}