#basic-plan-page-container {
  width: 100%;
  margin-top: 40px;
}
#basic-plan-page-div {
  width: 90%;
  margin: auto;
}

#basic-plan-page-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.file-upload-div input[type="file"] {
  display: none;
}
#file-upload-text-desc{
  display: inline;
  text-align: justify;
  font-size: clamp(12px,15px,17px);
  color: #737a75;
}
#file-btn-div {
  width: 140px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  border: 1px solid #ccc;
}

#basic-plan-page-main div {
  position: relative;
  margin: 25px;
}

#basic-plan-page-main div label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #737a75;
  cursor: text;
  transition: all 0.2s ease-in-out;
}

#basic-plan-page-main div input:not([type="file"]) {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  transition: all 0.2s linear;
}
#basic-plan-page-main div input:not([type="file"]):hover {
  border-color: black;
  outline: none;
}
#basic-plan-page-main div input:not([type="file"]):focus {
  outline: none;
  border-color: #1976d2;
}

#basic-plan-page-main div input:not([type="file"]):focus ~ label,
#basic-plan-page-main div input.filled ~ label {
  top: -12px;
  color: #1976d2;
  font-size: 12px;
}

#submit-btn-bpp {
  align-self: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  align-items: center;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit-btn-bpp:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#submit-btn-bpp:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

#basic-plan-page-div form {
  display: flex;
  flex-direction: column;
}
#switch-box-row {
  padding: 10px;
  max-width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

#switch-box-row div {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #basic-plan-page-main {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: unset;
  }
  #switch-box-row {
    padding: unset;
    max-width: 200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }
  #switch-box-row div span,
  #switch-box-row p {
    font-size: clamp(12px, 14px, 16px);
  }
  #switch-box-row div {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
