#page1-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    flex-direction: column;
}
#page-header-txt{
    width: 60%;
    overflow: hidden;

}
#page-header-txt p{
    word-break: break-word;
    padding-bottom:40px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.50rem,1.70rem,1.90rem);
    color: black;
    line-height: 1.2;
    text-align: center;
}
#choose-opt-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
#option-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 300px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
}

#option-1 div{
    width: 80%;
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#option-1 img{
    margin: 20px;
    width: 30px;
    object-fit: cover;
}