#loginform-container {
  width: 100%;
  overflow-y: hidden;
  height: 100dvh;
  background-image: url("../../../Assests/backgrounds/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  align-items: center;
  justify-content: center;
}

#loginForm-main {
  width: 100%;
}
#loginform {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#login-header p {
  display: block;

  padding-bottom: 40px;
  font-weight: 800;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
#login-input-div {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#login-input-div label {
  text-align: left;

}
#login-input-div div {
  position: relative;
  width: 100%;
 

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  margin: 20px auto;
  transition: 0.2s all linear;
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);

}
 #login-input-div div span{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-2%,-50%);
}

#login-input-div div label {
  position: absolute;
  top: 50%;
  padding-left: 50px;
  transform: translateY(-50%);
  margin: unset;
  color: #9b9696;
  transition: 0.2s all ease-in-out;
} 

#login-input-div div:hover {
  border-color: black;
}
#login-input-div div input:focus ~ label,#login-input-div div input:valid ~ label {
  top: -1px;
  cursor: text;
  font-size:12px;
  color: #1976d2;
}
#login-input-div input {
  font-size: 16px;
  color: #333333;

  line-height: 1.2;
  border: unset;
  outline: unset;
  display: block;
  width: 90%;
  height: 55px;
  background: transparent;
  padding: 0px 0 0 50px;
}
#forgot-pass-txt {
  width: 80%;
  text-align: right;
}
#forgot-pass-txt a {
  text-decoration: none;
  text-align: right;
  color: #666666;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;
  transition: 0.2s linear;
}
#forgot-pass-txt a:hover {
  color: #1976d2;
}
#login-btn-submit ,#google-login{
  width: 80%;

  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  overflow: hidden;
}
#google-login button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 30px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-radius: 25px;
  border: unset;
  color: #757575;
  transition: all 0.3s linear;
  font-weight: 500;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  font-size:clamp(12px,14px,16px);
}
#google-login button:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#google-login button img{
  width: 20px;
}

#login-btn-submit button {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  border: unset;
  background-color: #a64bf4;
  color: white;
  font-weight: 700;

  font-size: clamp(1rem, 1.4rem, 1.6rem);
}

#login-btn-submit button:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

#login-btn-submit button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgb(202, 202, 211),
    transparent
  );
  transition: all 650ms;
}

#login-btn-submit button:hover:before {
  left: 100%;
}
#signup-text-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#signup-text-div a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;
  transition: 0.2s linear;
}
#signup-text-div a {
  color: #1976d2;
}
@media only screen and (min-width: 320px) and (max-width: 369px) {
  #loginForm-main {
    width: 90%;
  }
  #loginform {
    width: 280px;
  }
  #login-header p {
    padding-bottom: unset;
    font-size: 25px;
  }
  #login-input-div input {
    height: 35px;
  }
  #login-btn-submit button {
    padding: 20px 20px;
    font-size: clamp(0.95rem, 1rem, 1.1rem);
  }#google-login button img{
    width: 13px;
  }
  #google-login button{
    padding: 20px 20px;
    font-size: clamp(10px,12px,14px);
  }
}

@media only screen and (min-width: 370px) and (max-width: 419px) {
  #loginForm-main {
    width: 90%;
  }
  #loginform {
    width: 300px;
  }
  #login-header p {
    padding-bottom: unset;
    font-weight: 600;
    font-size: 25px;
  }
  #login-input-div input {
    height: 35px;
  }
  #login-btn-submit button ,#google-login button{
    padding: 20px 20px;
    font-size: clamp(0.95rem, 1rem, 1.1rem);
  }
  #google-login button{
    padding: 20px 20px;
    font-size: clamp(10px,12px,14px);
  }
}
@media only screen and (min-width: 420px) and (max-width: 469px) {
  #loginForm-main {
    width: 90%;
  }
  #loginform {
    width: 370px;
  }
  #login-header p {
    padding-bottom: unset;
    font-size: 25px;
  }
  #login-input-div input {
    height: 35px;
  }
  #login-btn-submit button ,#google-login button {
    padding: 20px 20px;
    font-size: clamp(0.95rem, 1rem, 1.1rem);
  }
}
@media only screen and (min-width: 470px) and (max-width: 520px) {
  #loginForm-main {
    width: 90%;
  }
  #loginform {
    width: 420px;
  }
  #login-header p {
    padding-bottom: unset;
    font-size: 25px;
  }
  #login-input-div input {
    height: 35px;
  }
  #login-btn-submit button ,#google-login button {
    padding: 20px 20px;
    font-size: clamp(0.95rem, 1rem, 1.1rem);
  }
}

@media only screen and (min-width: 521px) and (max-width: 590px) {
 
  #loginform {
    width: 480px;
  }
 

}